 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


#pfp{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}


.text-light::hover{
    color: lightgray;
}

#logo{
    width: 100px;
}
#hero{
    background-image: url(../IMAGES/decoracion_hero.png);
    background-position: 0% -40%;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 40%;
    border-radius: 0 0 25% 25%
}
header{
    background-image: url(../IMAGES/decoracion_hero.png);
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}



.carousel-control-next,
.carousel-control-prev {
    width: 80px; /* Ajusta según sea necesario */
    height: 80px; /* Ajusta según sea necesario */
    border-radius: 50%; /* Hace que el botón sea un círculo perfecto */
    
}

.nav-link{
    text-decoration: underline 0.15em rgba(208, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.nav-link:hover {
    text-decoration-color: rgba(208, 0, 0, 1);
}

.image-container img {
    height: 100%; /* Ajusta la altura de la imagen al contenedor */
    object-fit: contain; /* Mantiene la proporción de la imagen y la recorta si es necesario */
}

.carousel-link{
    cursor: pointer !important;
}

.dropdown-item:hover{
    background-color: brown;
}

#imagenUsuario{
    width: 10%;
}


/* shopping cart */
#productosCarrito{
    max-height: 60vh;
}

#divCarrito .dropdown-menu{
    width: 40vw;
}

.productoCarrito img{
    max-height: 20vh;
    object-fit: contain;
}

.pedido img{
    height: 15vh;
}

.productoAdmin img,.usuarioAdmin img{
    height: 15vh;
}


@keyframes meneo {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.meneando {
    animation: meneo 0.5s ease;
}

.fav{
    cursor: pointer;
}

@keyframes salto {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.saltar {
    animation: salto 0.5s ease;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

    @media (max-width: 920px) {
        /* Estilos para pantallas de 420px o menos */
        
        #logo {
          max-width: 80%;
          margin: 0 auto;
        }
        
        .navbar-nav {
          text-align: center;
        }
        
        #inicioSesion, #divUsuario, #divCarrito {
          margin-top: 1rem;
          justify-content: center;
        }
        
        .navbar-toggler {
          margin: 1rem auto;
          display: block;
        }
        
        
        
        .footer .col-2, .footer .col-3 {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
      
    @media (max-width: 520px){
        #divCarrito .dropdown-menu{
            width: 90vw;
            top: -700%;
            left:-1.8%
        }
        .hero h2{
            font-size: 4em !important;
        }
        #todo{
            width: 80vw;
        }

        #destacados .producto{
            width: 100% !important;
            margin-bottom: 1rem;
        }

        #busqueda .producto, #wishlist .producto{
            width: 100% !important;
            margin-bottom: 1rem;
        }

        #admin .btn{
            margin-bottom: 1rem;
        }

        #admin .productoAdmin .usuarioAdmin{
            width: 100%;
        }
    }

    #admin .productoAdmin .usuarioAdmin{
        width: 100%;
    }

